.bg-red {
  background: red; }

.bg-charcoal {
  background: #575757; }

.theme {
  background: #62ff95; }

.base-padding {
  padding: 15px; }

.heavy-padding {
  padding: 20px; }

.light-padding {
  padding: 10px; }

.full-width {
  width: 100%; }

.half-width {
  width: 50%; }

.quarter-width {
  width: 25%; }

body, h1, h2, h3, h4, h5, p, input, div, span {
  font-family: "Open Sans"; }

.text-center {
  text-align: center; }

.fill-10 {
  width: 10%; }

.fill-20 {
  width: 20%; }

.fill-30 {
  width: 30%; }

.fill-40 {
  width: 40%; }

.fill-50 {
  width: 50%; }

.fill-60 {
  width: 60%; }

.fill-70 {
  width: 70%; }

.fill-80 {
  width: 80%; }

.fill-90 {
  width: 90%; }

.fill-100 {
  width: 100%; }

.input-button-left {
  height: 40px; }
  .input-button-left input, .input-button-left button, .input-button-left .btn {
    height: inherit;
    padding: 10px; }
  .input-button-left .btn, .input-button-left button {
    float: left; }

.input-button-right {
  height: 40px; }
  .input-button-right input, .input-button-right button, .input-button-right .btn {
    height: inherit;
    padding: 10px; }
  .input-button-right .btn, .input-button-right button {
    float: right; }

.list-view {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px; }
  .list-view .list-item {
    list-style: none;
    padding: 5px 15px;
    padding-top: 10px;
    border-bottom: 1px solid #f4f4f4; }
    .list-view .list-item:last-child {
      border-bottom: none; }
    .list-view .list-item .details {
      width: calc(100% - 100px);
      display: inline-block;
      padding: 5px;
      margin: 0px 0px 0px 10px; }
      .list-view .list-item .details .title {
        font-size: 24px;
        margin: 0px !important; }
    .list-view .list-item .detail-image {
      width: 60px;
      height: 60px;
      overflow: hidden;
      float: left;
      display: inline-block; }
      .list-view .list-item .detail-image img {
        width: 115%;
        height: auto;
        display: block; }
      .list-view .list-item .detail-image.round {
        border-radius: 60px; }

.panel {
  border: 1px solid #DEDEDE; }
  .panel .panel-heading {
    background: #575757;
    color: white;
    padding: 10px 15px; }
    .panel .panel-heading h1, .panel .panel-heading h2, .panel .panel-heading h3, .panel .panel-heading h4, .panel .panel-heading h5 {
      font-weight: 800; }
  .panel input.form-control {
    padding: 15px !important; }
  .panel.shadow {
    box-shadow: 8px 8px #DEDEDE; }

.header {
  background: #62ff95;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100; }
  .header.trim {
    border-bottom: 7.14286px solid #62cc62;
    height: 58.33333px; }
  .header .title {
    font-size: 24px;
    line-height: 16.66667px; }

.content {
  padding: 15px;
  background: url(http://subtlepatterns.com/patterns/geometry.png);
  display: block;
  height: calc(100% - 50px);
  margin-top: 60px;
  width: 100%;
  position: absolute;
  z-index: 50; }
