
$color-red: red;
$color-green: rgb(98, 255, 149);
$color-green-alt: $color-green * .5;
$color-charcoal: rgb(87, 87, 87);
$color-blue: #3073a9;
$color-blue-alt: #4C91AC;
$color-blue-alt-2: #428bca;
$color-gray: #999;

$theme-main: $color-blue-alt-2;
$theme-main-shadow: $color-blue-alt;
$theme-main-trim-dark: $theme-main - #033;
$theme-main-trim-light: $theme-main + #2C2;
$theme-main-highlight: $color-blue;
$theme-main-highlight-2: $color-blue-alt;

$theme-main-dark: $color-charcoal;
$shadow-color: #DEDEDE;

.bg-red{
	background: $color-red;
}
.bg-charcoal{
	background: $color-charcoal;
}
.theme{
	background: $theme-main;
}

.color-red{color:red}
.color-green{color:green}
.color-blue{color:blue}
.color-white{color:white}
.color-purple{color:purple}
.color-yellow{color:yellow}
.color-orange{color:orange}