
$color-red: red;
$color-green: rgb(98, 255, 149);
$color-green-alt: $color-green * .5;
$color-charcoal: rgb(87, 87, 87);

$theme-main: $color-green;
$theme-main-shadow: $color-green-alt;
$theme-main-trim-dark: $theme-main - #033;
$theme-main-trim-light: $theme-main + #2C2;

$theme-main-dark: $color-charcoal;
$shadow-color: #DEDEDE;

.bg-red{
	background: $color-red;
}
.bg-charcoal{
	background: $color-charcoal;
}
.theme{
	background: $theme-main;
}
