
.content{
	padding: $base-padding;
	background: url(http://subtlepatterns.com/patterns/geometry.png);
	display: block;
	height: calc(100% - 50px);
	margin-top: $header-height + 10px;
	width: 100%;
	position: absolute;
	z-index: 50;
}
.desc-block{
	display: inline-block;
	padding: 0px 5px 0px 0px;
}