$header-height: 50px;

.header{
	background: $theme-main;

	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 100;

	h1,h2,h3,h4,h5,p,div,span{
	}

	&.trim{
		border-bottom: ($header-height / 7) solid $theme-main-trim-dark;
		height: $header-height + ($header-height / 6);
	}
	.title{
		$font-size: 24px;
		font-size: $font-size;
		line-height: $header-height / 3;
	}
}
