$thumbnail-size: 60px;

.list-view{

	list-style: none;
	margin-left: 0px;
	padding-left: 0px;

	.list-item{
		$background: #FEFEFE;
		list-style: none;
		cursor: pointer;
		padding:  ($base-padding - 10px) $base-padding;
		padding-top: 10px;
		border-bottom: 1px solid ($background - #0A0A0A);
		&:hover{
			background: $theme-main-highlight;
			color: white;
		}
		&:last-child{
			border-bottom: none;
		}
		.details{
			width: calc(100% - 100px);
			display: inline-block;
			padding: 5px;
			margin: 0px 0px 0px 10px;
			.title{
				font-size: 24px;
				margin: 0px !important;
			}
		}
		.detail-image{
			width: $thumbnail-size;
			height: $thumbnail-size;
			overflow: hidden;
			float: left;
			display: inline-block;
			img{
				width: 115%;
				height: auto;
				display: block;
			}
			&.round{
				border-radius: $thumbnail-size;
			}
		} 
	}
}
