$base-padding: 15px;
$base-margin: 15px;

//Padding
.base-padding{
	padding: $base-padding;
}
.heavy-padding{
	padding: $base-padding + 5px;
}
.light-padding{
	padding: $base-padding - 5px;
}
$i: 0;
@while $i <= 25{
	.padding-#{$i}{
		padding: #{$i}px;
	}
	$i: $i + 5;
}

//Widths
.full-width{
	width: 100%;
}
.half-width{
	width: 50%;
}
.quarter-width{
	width: 25%;
}
