
<div class="row">
	<div class="col-md-4">
		<div class="panel shadow"> 
			<div class="panel-heading">
				<h4 class="title">Character Search</h4>
			</div>
			<div class="full-width input-button-right">
				<button class="btn btn-primary fill-20" ng-click="search()"><i class="fa fa-search"></i> Find</button>
				<input class="form-control fill-80" type="text" placeholder="Enter Name" 
					on-press-enter="search()"
					ng-model="searchQuery">
	  	 	</div>
			<ul class="list-view">
				<li class="list-item" ng-repeat="character in characters">
					<div class="detail-image round">
						<img src="{{character.thumbnail | imageLocation}}" />
					</div>
					<div class="details">
						<h2 class="title">{{character.name}}</h2>
						<p class="desc">Comics Available {{character.comics.available}}</p>
					</div>
				</li>
			</ul>
			<div>
				<div class="btn btn-primary">Previous</div>
				<div class="btn btn-primary">Next</div>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div ui-view></div>
	</div>
</div>