
<div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel shadow"> 
				<div class="input-button">
		  	 		<input class="form-control" type="text" placeholder="Enter Name">
					<button class="btn btn-default full-width">Find</button>
				</div>
				<ul class="list-view">
					<li class="list-item" ng-repeat="character in characters">
						<div class="detail-image round">
							<img src="{{character.thumbnail}}" />
						</div>
						<div class="details">
							<h2 class="title">{{character.name}}</h2>
							<p class="desc">{{character.description | truncate: 20}}</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-8">
			<div ui-view></div>
		</div>
	</div>
</div>