
<div class="row">
	<div class="col-md-4">
		<div class="panel shadow"> 
			<div class="panel-heading">
				<h4 class="title">Character Search</h4>
			</div>
			<div class="full-width input-button-right">
				<button class="btn btn-primary fill-20" ng-click="search()"><i class="fa fa-search"></i> Find</button>
				<input class="form-control fill-80" type="text" placeholder="Enter Name" 
					on-press-enter="search()" loading="loading"
					ng-model="searchQuery">
	  	 	</div>
	  	 	<div class="base-padding" ng-if="characters == undefined">
	  	 		<h3>A new person?</h3>
	  	 		<p>Well, well, well, look at what we have here. You must be new because there are no previous searches.Start typing some stuff in to see what kind of stuff you can get</p>
	  	 	</div>
	  	 	<div class="loading base-padding text-center" ng-if="loading">
	  	 		<h2>Searching for</h2>
	  	 		<i class="fa fa-spinner fa-5x spin-fast"></i>
	  	 		<h2 ng-if="searchQuery">'{{searchQuery}}'</h2>
	  	 		<h2 ng-if="searchQuery == undefined">Some Characters</h2>
	  	 	</div>
	  	 	<div class="no-results base-padding" ng-if="characters.length <= 0">
	  	 		<h3>Whelp! Looks like theres noone around here with that name</h3>
	  	 	</div>
			<ul class="list-view" ng-if="loading !== true" >
				<li class="list-item" ng-repeat="character in characters" ui-sref="characters.show({ character_id: character.id })">
					<div class="detail-image round">
						<img src="{{character.thumbnail | imageLocation}}" />
					</div>
					<div class="details">
						<h2 class="title">{{character.name}}</h2>
						<br>
						<p class="desc-block padding-5"><span class="badge bg-{{character.comics.available | available: 100}}">Comics {{character.comics.available}}</span></p>
						<p class="desc-block padding-5"><span class="badge bg-{{character.series.available | available: 20}}">Series {{character.series.available}}</span></p>
						<p class="desc-block padding-5"><span class="badge bg-{{character.stories.available | available: 20}}">Stories {{character.stories.available}}</span></p>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-8">
		<div ui-view></div>
	</div>
</div>

<div class="alert alert-danger" ng-if="error">{{error}}</div>